// @import 'foundation';

// @mixin aspect-ratio($width, $height) {
// 	position: relative;
// 	&:before {
// 		display: block;
// 		content: "";
// 		width: 100%;
// 		padding-top: ($height / $width) * 100%;
// 	}
// 	>.content {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 	}
// }
// .lib_calendar_form_container {
// 	@include foundation-global-styles;
// 	@include foundation-xy-grid-classes;
// 	@include foundation-forms;
// 	@include foundation-button;
// 	button.ui-datepicker-trigger {
// 		display: none;
// 	}
// }
